/*HP*/
@media (max-width: 767.98px) {

    .form-control,
    .input-group-text,
    .form-text,
    .form-select,
    .button .btn-primary,
    .button .btn-secondary,
    .button-global .btn-primary,
    .button-global .btn-success,
    .table-responsive,
    .table-responsive .btn-primary,
    .table-responsive .btn-danger,
    .table-responsive .btn-success,
    .modal-footer .btn-secondary,
    .buttons-excel,
    .buttons-collection,
    .profile .nav-item,
    .revenue-card .akun,
    .customers-card .akun,
    .saranBalasan,
    .viewData,
    #akunMedia .btn-danger,
    .overlay .text,
    .deskripsiYatim,
    #crop,
    #form-pengajuan .list-group,
    #profile-overview .col-lg-9,
    #profile-edit .btn-primary,
    #profile-change-password .btn-primary {
        font-size: 12px;
    }

    #form-pengajuan nav ul {
        font-size: 11px;
    }

    .footer .copyright {
        font-size: 12px;
    }

    #form-pengajuan #form {
        padding: 0 1em 1em 1em;
    }

    #divImageMediaPreview img {
        max-width: 100px;
    }

    .dashboard .info-card h6,
    .card1 .card-title {
        font-size: 16px;
    }

    .preview {
        top: 15px;
    }
}

/*DESKTOP*/
@media (min-width: 992px) {
    #form-pengajuan #form {
        padding: 0 3em 3em 3em;
    }

    .form-control,
    .input-group-text,
    #form-pengajuan .list-group,
    .form-text,
    .form-select,
    .button .btn-primary,
    .button .btn-secondary,
    .button-global .btn-primary,
    .button-global .btn-success,
    .table-responsive,
    .table-responsive .btn-primary,
    .table-responsive .btn-danger,
    .table-responsive .btn-success,
    .modal-footer .btn-secondary,
    .buttons-excel,
    .buttons-collection,
    .profile .nav-item,
    .saranBalasan,
    .revenue-card .akun,
    .viewData,
    .customers-card .akun,
    .overlay .text,
    .deskripsiYatim,
    #crop,
    #akunMedia .btn-danger,
    #profile-overview .col-lg-9,
    #profile-edit .btn-primary,
    #profile-change-password .btn-primary {
        font-size: 14px !important;
    }

    #divImageMediaPreview img {
        padding: 8px;
        max-width: 150px;
    }

    .dashboard .info-card h6,
    .card1 .card-title {
        font-size: 16px;
    }
}

/* pad */
@media (min-width:576px) {
    #form-pengajuan #form {
        padding: 0 2em 2em 2em;
    }

    .form-control,
    .input-group-text,
    #form-pengajuan .list-group,
    .form-text,
    .form-select,
    #crop,
    .button .btn-primary,
    .button .btn-secondary,
    .button-global .btn-success,
    .button-global .btn-primary,
    .table-responsive,
    .table-responsive .btn-primary,
    .table-responsive .btn-danger,
    .table-responsive .btn-success,
    .modal-footer .btn-secondary,
    .buttons-excel,
    .buttons-collection,
    .profile .nav-item,
    .revenue-card .akun,
    .customers-card .akun,
    .saranBalasan,
    .viewData,
    #akunMedia .btn-danger,
    .overlay .text,
    .deskripsiYatim,
    #profile-overview .col-lg-9,
    #profile-edit .btn-primary,
    #profile-change-password .btn-primary {
        font-size: 14px;
    }

    #divImageMediaPreview img {
        padding: 8px;
        max-width: 150px;
    }

    .dashboard .info-card h6,
    .card1 .card-title {
        font-size: 16px;
    }
}


@media (min-width:1200px) {
    #form-pengajuan #form {
        padding: 0 3em 3em 3em;
    }

    #divImageMediaPreview img {
        padding: 8px;
        max-width: 150px;
    }


}

.dt-button-collection .dropdown-menu .dropdown-item:hover {
    background-color: rgb(105, 162, 247);
}

.pw span {
    position: absolute;
    height: 25px;
    display: inline-grid;
    align-items: end;
    z-index: 99;
    right: 25px;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card1 {
    display: block;
    position: relative;
    border-radius: 4px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    color: #012970;
}

.card1 a {
    text-decoration: none;
    color: #012970;
}

.viewData {
    text-align: center;
    text-decoration: none;
    background-color: #00838d;
    padding: 8px 0;
    transition: .7s;
    color: white;
    border-top: .5px solid #fff;
}

.viewData:hover {
    color: white;
}

.image_area {
    position: relative;
}

.profile .img-container img {
    display: block;
    max-width: 100%;
}

/* .cropper-container.cropper-bg {
    display: table-cell;
} */

.preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
    position: relative;
    margin: auto;
}

.modal-lg {
    max-width: auto !important;
}

.overlay {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0;
    transition: .5s ease;
    width: 100%;
}

.image_area:hover .overlay {
    height: 40%;
    cursor: pointer;
}

.text {
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon-image {
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon-image .bi {
    font-size: 1.3em;
    color: #4154f1;
}

.customers-card .card1 img,
.revenue-card .bg img {
    max-width: 70px;
}

.thumbnail {
    position: relative;
    z-index: 0;
    cursor: zoom-in;
}

.thumbnail:hover {
    background-color: transparent;
    z-index: 50;
}

.thumbnail span {
    /*CSS for enlarged image*/
    position: absolute;
    left: -1000px;
    visibility: hidden;
    color: black;
    text-decoration: none;
}

.thumbnail span img {
    /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
}

.thumbnail:hover span {
    /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 0;
    left: 10px;
    width: 200px;
    transition: .9s;
    /*position where enlarged image should offset horizontally */

}

.customers-card .card1 span img,
.revenue-card .bg span img {
    max-width: 78% !important;
    position: absolute;
    top: -85px;
    left: -30px;
}

.icon-profile {
    position: absolute;
    bottom: 0;
    right: -5px;
}

.icon-profile .bi {
    font-size: 1.3em;
    color: #00838d;
}

.delete-profil .bi {
    font-size: 1.3em;
    color: red;
}

.saranMasukan {
    padding: 0 14px;
    width: 100%;
}

.textName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
}

.editLaporanSaran {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
}

.notification-item.saranBalasan {
    background-color: #eff2fa;
}